{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "age"
brew "age-plugin-yubikey"
brew "ansible"
brew "bitwarden-cli"
brew "chezmoi"
brew "fluxcd/tap/flux"
brew "fzf"
brew "git"
brew "go-task/tap/go-task"
brew "helm"
brew "kubernetes-cli"
brew "kustomize"
brew "nextdns/tap/nextdns"
brew "pre-commit"
brew "prettier"
brew "sops"
brew "terraform"
brew "yq"
cask "appcleaner"
cask "bartender"
cask "bitbar"
cask "bitwarden"
cask "docker"
cask "firefox-developer-edition"
cask "iterm2"
cask "keybase"
cask "maccy"
cask "macupdater"
cask "nordvpn"
cask "protonvpn"
cask "qbittorrent"
cask "tailscale"
cask "the-unarchiver"
cask "tor-browser"
cask "visual-studio-code"
cask "vlc"
cask "xcodes"
EOF
{{ end -}}
